{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "prettier",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "import/extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".json"
        ]
      },
      "webpack": {
        "config": "./client/webpack/base"
      }
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "printWidth": 80,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "import/no-unresolved": [
      2,
      {
        "commonjs": true,
        "amd": true
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off",
    "no-console": "off",
    "func-names": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups",
        "groups": [
          "builtin",
          "external",
          "internal",
          [
            "sibling",
            "parent"
          ],
          "index"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "rules": {
        "no-unused-vars": [
          "off"
        ],
        "no-undef": [
          "off"
        ],
        "@typescript-eslint/no-unused-vars": [
          2,
          {
            "args": "none"
          }
        ]
      }
    },
    {
      "files": [
        "**/*.d.ts"
      ],
      "rules": {
        "react/jsx-no-duplicate-props": [
          2,
          {
            "ignoreCase": false
          }
        ],
        "react/no-multi-comp": [
          "off"
        ]
      }
    }
  ]
}