{
  "client/**/*.(js|ts|tsx|json)": "eslint --fix -c client/.eslintrc",
  "client/**/*.(css)": "stylelint --syntax=css --config client/.stylelintrc.json",
  "packages/trek-browser/**/*.(ts|json)": "eslint --fix -c packages/trek-browser/.eslintrc",
  "server/**/*.(js|ts|json)": "eslint --fix -c server/.eslintrc"
}